[submodule "CSS____BlockElementModifier"]
	path = CSS____BlockElementModifier
	url = https://github.com/webdev-archist/CSS____BlockElementModifier
[submodule "quizApp"]
	path = quizApp
	url = git@github.com:webdev-archist/PROJECTS__Quizes.git
[submodule "WanaKana"]
	path = WanaKana
	url = git@github.com:WaniKani/WanaKana.git
