- var testemesuit=true
section#main_section
	span.close.close_ X
	form#2_keyword_search_form(method="POST",action="/")
		label(for="2_keyword_search") Rechercher quelque chose par mot-clé
		input#2_keyword_search(name="search",placeholder="Mot-clé (tag)")
	hr
	//-
		nav.childs_fl
			span.a: div.alphabet
			span.b: div.alphabet
			span.c: div.alphabet
			span.d: div.alphabet
			span.e: div.alphabet
			span.f: div.alphabet
			span.g: div.alphabet
			span.h: div.alphabet
			span.j: div.alphabet
			span.i: div.alphabet
			span.k: div.alphabet
			span.l: div.alphabet
			span.m: div.alphabet
			span.n: div.alphabet
			span.o: div.alphabet
			span.p: div.alphabet
			span.q: div.alphabet
			span.r: div.alphabet
			span.s: div.alphabet
			span.t: div.alphabet
			span.u: div.alphabet
			span.v: div.alphabet
			span.w: div.alphabet
			span.x: div.alphabet
			span.y: div.alphabet
			span.z: div.alphabet
	nav.tags.alpha_tagname

- var testemesuit=true
section#main_section_
	span.close.close_ X
	form#2_keyword_search_form_(method="POST",action="/")
		label(for="2_keyword_search_") Rechercher quelque chose par mot-clé
		input#2_keyword_search_(name="search",placeholder="Mot-clé (tag)")
	hr
	nav.childs_fl
		span.a: div.alphabet
		span.b: div.alphabet
		span.c: div.alphabet
		span.d: div.alphabet
		span.e: div.alphabet
		span.f: div.alphabet
		span.g: div.alphabet
		span.h: div.alphabet
		span.j: div.alphabet
		span.i: div.alphabet
		span.k: div.alphabet
		span.l: div.alphabet
		span.m: div.alphabet
		span.n: div.alphabet
		span.o: div.alphabet
		span.p: div.alphabet
		span.q: div.alphabet
		span.r: div.alphabet
		span.s: div.alphabet
		span.t: div.alphabet
		span.u: div.alphabet
		span.v: div.alphabet
		span.w: div.alphabet
		span.x: div.alphabet
		span.y: div.alphabet
		span.z: div.alphabet
	nav.tags.alpha_tagname
