section#outputs.w100.z10(role="seealso region")
	span.close X
	article.output.users.red-text.text-darken-1
	article.output.classes.pink-text.text-darken-1
	article.output.profs.purple-text.text-darken-1
	article.output.qr.green-text.text-darken-1
	article.output.ressources.yellow-text.text-darken-1.un
	article.output.courses.orange-text.text-darken-1.un