@import url('demo.css');
@import url('common.css');
@import url('icons.css');

.cd-dropdown > span,
.cd-dropdown ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown > span {
	color: #fc756f;
}

.cd-active.cd-dropdown > span,
.cd-active.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #fc756f;
	color: #fff;
}








.cd-dropdown0 > span,
.cd-dropdown0 ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown0 ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown0 ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown0 > span {
	color: #4d8c9d;
}

.cd-active.cd-dropdown0 > span,
.cd-active.cd-dropdown0 ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown0 ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown0 ul li span:hover {
	background: #4d8c9d;
	color: #fff;
}










.cd-dropdown1 > span,
.cd-dropdown1 ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown1 ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown1 ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown1 > span {
	color: #97d1bc;
}

.cd-active.cd-dropdown1 > span,
.cd-active.cd-dropdown1 ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown1 ul li {
	-webkit-transform-origin: -200% 50%;
	-moz-transform-origin: -200% 50%;
	-o-transform-origin: -200% 50%;
	-ms-transform-origin: -200% 50%;
	transform-origin: -200% 50%;
}

.cd-active.cd-dropdown1 ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown1 ul li span:hover {
	background: #97d1bc;
	color: #fff;
}









.cd-dropdown2 {
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
}

.cd-dropdown2 > span {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;

	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	-o-transition: -o-transform .3s;
	-ms-transition: -ms-transform .3s;
	transition: transform .3s;
}

.cd-dropdown2 > span:active {
	-webkit-transform: rotateX(60deg);
	-moz-transform: rotateX(60deg);
	-o-transform: rotateX(60deg);
	-ms-transform: rotateX(60deg);
	transform: rotateX(60deg);
}

.cd-dropdown2 > span,
.cd-dropdown2 ul li:nth-last-child(-n+3) span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown2 ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown2 ul li {
	position: absolute;
	width: 100%;
}

.cd-active.cd-dropdown2 > span {
	color: #f8b161;
}

.cd-active.cd-dropdown2 > span,
.cd-active.cd-dropdown2 ul li span {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-active.cd-dropdown2 ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown2 ul li span:hover {
	background: #f8b161;
	color: #fff;
}









.cd-dropdown3 ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown3 > span,
.cd-dropdown3 ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown3 ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown3 > span {
	color: #c29ad2;
}

.cd-active.cd-dropdown3 ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown3 ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown3 ul li span:hover {
	background: #c29ad2;
	color: #fff;
}









.cd-dropdown4 ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown4 > span,
.cd-dropdown4 ul li {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.cd-dropdown4 ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown4 > span {
	color: #e66b20;
}

.cd-active.cd-dropdown4 ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown4 ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown4 ul li span:hover {
	background: #e66b20;
	color: #fff;
}